// Colors
$dark: #20222B;
$off-white: #A5AFD7;
$dark-blue: #333745;
$blue: #3C4251;
$light-blue: #464B5E;
$purple: #8357c5;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.4rem;
$xl-size: 4.8rem;